<!DOCTYPE html>
<html lang="en">

<head>
  <base href="[[=URL('static')]]/">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="scss/user.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />
  <title>Suppress19</title>
</head>

<body>
  <section class="section">
    <div class="form-container">
      <!-- home reroute -->
      <a href="[[=URL('index')]]">
        <h1 class="title is-1 has-text-centered has-text-info">Suppress19</h1>
      </a>
      <hr>
      <!-- form -->
      [[=form]]
    </div>
  </section>
</body>

</html>