[[extend './layout.html']]

<body>
  <!-- enter info -->
  <section class="section">
    <nav class="level">
      <div class="level-item">
        <div class="columns">
          <div class="column">
            <h3 class="title mb-4 color-example">Locate COVID-19 Vaccines</h3>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Enter Zip Code</label>
                  <div class="control">
                    <input class="input" placeholder="Zip Code">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">Enter Radius</label>
                  <div class="control">
                    <input class="input" placeholder="Radius">
                  </div>
                </div>
              </div>
            </div>
            <div class="level-item">
              <button class="button is-medium">Locate Vaccines</button>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </section>
  <!-- found locations -->
  <section class="section">
    <div class="form-container">
      <article class="media">
        <div class="media-content">
          <div class="has-text-centered mb-4"><u>We found X locations to get vaccinated at.</u></div>
          <!-- Main container of results -->
          <div class="box result">
            <nav class="level">
              <!-- Left side -->
              <div class="level-left">
                <div class="level-item">
                  <p class="title color-example">
                    <u>Costco</u>
                  </p>
                </div>
              </div>
              <!-- Right side -->
              <div class="level-right">
                <p class="level-item">
                <div>
                  <p class="color-example"><i>In Stock</i> </p>
                  <p class="is-pulled-right">2.31 miles</p>
                </div>
                </p>
              </div>
            </nav>
            <!-- Bottom Address -->
            <div class="has-text-centered">
              <p>220 Sylvania Ave | Santa Cruz, CA 95060</p>
            </div>
          </div>
          <!-- End of result container -->
        </div>
      </article>
    </div>
  </section>
  <!-- End of All Results -->
</body>

