[[extend './layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<section class="section" id='vue-target' v-cloak>
  <!-- input field for search -->
  <nav class="level">
    <div class="level-item">
      <div class="columns">
        <div class="column">
          <h3 class="title mb-4 color-example">Locate COVID-19 Vaccines</h3>
          <div class="columns">
            <div class="column">
              <label class="label">Enter Zip Code</label>
              <input class="input" placeholder="Zip Code" v-model="zipCode">
            </div>
            <div class="column">
              <label class="label">Enter Radius</label>
              <input class="input" placeholder="Radius" v-model="radius">
            </div>
          </div>
          <div class="level-item">
            <button class="button is-medium is-rounded color-example" @click="add_locations">Locate Vaccines</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- display of search results -->
  <div class="form-container">
    <article class="media">
      <div class="media-content">
        <div class="has-text-centered mb-4"><u>We found {{locations.length}} locations to get vaccinated at.</u></div>
        <!-- main container of results -->
        <div class="box result" v-for="(l, index) in locations">
          <nav class="level">
            <!-- location name -->
            <div class="level-left">
              <div class="level-item">
                <a href="">
                  <p class="title color-example" v-if="l.name.split(' ')[0] === 'CVS'">
                    <u>{{l.name.split("#")[0].trim().replace(",", "")}}</u>
                  </p>
                  <p class="title color-example" v-else>
                    <u>{{l.name.split("#")[0].trim().replace(",", "").toLowerCase().split(/\s+/).map(current_word => current_word[0].toUpperCase() + current_word.substring(1)).join(" ") }}</u>
                  </p>
                </a>
              </div>
            </div>
            <!-- save button and distance -->
            <div class="level-right level-item">
              <div>
                <p class="color-example">
                  <!-- the ref's might need to be moved, since they don't register anything, sorry -->
                  <a class="button is-light is-rounded" @click="save_option(index)" v-if="!(savedLocations.includes(l.address1))">
                    <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Save</span>
                  </a>
                  <a class="button is-light is-rounded" @click="unsave_option(index)" v-else>
                    <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Unsave</span>
                  </a>
                </p>
                <p class="is-pulled-right mt-2 mr-2">{{l.distance}} miles</p>
              </div>
            </div>
          </nav>
          <div class="has-text-centered">
            <p>{{l.address1.split("#")[0].trim()}}</p>
          </div>
        </div>
        [[pass]]
      </div>
    </article>
  </div>
</section>

[[block page_scripts]]
<script>
  // load url's here
  let add_locations_url = "[[=XML(add_locations_url)]]";
  let load_home_url = "[[=XML(load_home_url)]]";
  let save_url = "[[=XML(save_url)]]";
</script>
<script src="js/content.js"></script>
[[end]]