[[extend './layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<section class="section" id='vue-target' v-cloak>
  <!-- input field for search -->
  <nav class="level">
    <div class="level-item">
      <div class="columns">
        <div class="column">
          <h3 class="title mb-4 color-example">Locate COVID-19 Vaccines</h3>
          <div class="columns">
            <div class="column">
              <label class="label">Enter Zip Code</label>
              <input class="input" placeholder="Zip Code" v-model="zipCode">
            </div>
            <div class="column">
              <label class="label">Enter Radius</label>
              <input class="input" placeholder="Radius" v-model="radius">
            </div>
          </div>
          <div class="level-item">
            <button class="button is-medium is-rounded color-example" @click="add_locations">Locate Vaccines</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- display of search results -->
  <div class="form-container">
    <article class="media">
      <div class="media-content">
        <div class="has-text-centered mb-4"><u>We found [[=len(rows)]] locations to get vaccinated at.</u></div>
        <!-- CHANGE TO VUE LATER -->
        <!-- main container of results -->
        [[for row in rows:]]
        <div class="box result">
          <nav class="level">
            <!-- location name -->
            <div class="level-left">
              <div class="level-item">
                <a href="">
                  <p class="title color-example">
                    <u>[[ =row['locationName'] ]]</u>
                  </p>
                </a>
              </div>
            </div>
            <!-- save button and distance -->
            <div class="level-right level-item">
              <div>
                <p class="color-example">
                  <!-- CHANGE TO VUE LATER -->
                  [[ if row['locationAddress'] not in saved: ]]
                  <a class="button is-light is-rounded"
                    href="[[ =URL('save', row['locationName'], row['locationAddress']) ]]">
                    <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Save</span>
                  </a>
                  [[ else: ]]
                  <a class="button is-light is-rounded" href="[[ =URL('unsave', row['locationAddress']) ]]">
                    <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Unsave</span>
                  </a>
                  [[pass]]
                </p>
                <p class="is-pulled-right mt-2 mr-2">2.31 miles</p>
              </div>
            </div>
          </nav>
          <!-- bottom address -->
          <div class="has-text-centered">
            <p>[[ =row['locationAddress'] ]]</p>
          </div>
        </div>
        [[pass]]
      </div>
    </article>
  </div>
</section>

[[block page_scripts]]
<script>
  // load url's here
  let add_locations_url = "[[=XML(add_locations_url)]]";
  let load_home_url = "[[=XML(load_home_url)]]";
</script>
<script src="js/content.js"></script>
[[end]]