<!DOCTYPE html>
<html lang="en">

<head>
  <base href="[[=URL('static')]]/">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="scss/home.css" />
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css" />
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />
  <title>Suppress19</title>
</head>

<body>
  <section class="section">
    <div class="container">
      <!-- title info -->
      <div class="block has-text-centered pb-3">
        <h1 class="title is-1 pb-2 has-text-info">Suppress19</h1>
        <h3 class="subtitle is-3">Find a vaccine near you</h3>
      </div>
      <!-- user sign up and login or user welcome -->
      <div class="block">
        [[if globals().get('user'):]]
        <h4 class="subtitle is-4 has-text-centered">
          Welcome, [[=globals().get('user').get('first_name')]] [[=globals().get('user').get('last_name')]]
        </h4>
        <p class="buttons center">
          <a class="button is-rounded mr-2 is-info" href="[[=URL('auth/logout')]]">Sign Out</a>
          <a class="button is-rounded ml-2 is-info" href="[[=URL('main')]]">Locate Vaccine</a>
        </p>
        [[else:]]
        <h4 class="subtitle is-4 has-text-centered">
          Sign up or log in today to find your vaccine
        </h4>
        <p class="buttons center">
          <a class="button is-rounded mr-2 is-info" href="[[=URL('auth/register')]]">Sign Up</a>
          <a class="button is-rounded ml-2 is-info" href="[[=URL('auth/login')]]">Log In</a>
        </p>
        [[pass]]
      </div>
      <!-- info columns -->
      <div class="columns block pt-3">
        <div class="column has-text-centered">
          <h3 class="title color-example">Search</h3>
          <p class="is-size-4">Enter in an adress to find vaccinations clinics near you!</p>
          <span class="icon is-large"><i class="fa fa-search"></i></span>
        </div>
        <div class="column has-text-centered">
          <h3 class="title color-example">Review</h3>
          <p class="is-size-4">Go ahead and leave a review on where you went or read reviews from other users</p>
          <span class="icon is-large"><i class="fa fa-pencil"></i></span>
        </div>
        <div class="column has-text-centered">
          <h3 class="title color-example">Save</h3>
          <p class="is-size-4">Save different vaccination sites to your profile to stay up to date</p>
          <span class="icon is-large"><i class="fa fa-bookmark"></i></span>
        </div>
      </div>
    </div>
  </section>
</body>

</html>