<!DOCTYPE html>
<html lang="en">

<head>
  <base href="[[=URL('static')]]/">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="scss/content.css" />
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css" />
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <title>Suppress19</title>
  [[block page_head]]
  <!-- individual pages can customize header here -->[[end]]
</head>

<body>
  <!-- navigation bar -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <!-- logo reroute -->
      <a class="navbar-item" href="[[=URL('main')]]">
        <img src="../static/assets/logo.png">
      </a>
      <!-- minimization bars -->
      <a role="button" class="navbar-burger burger has-text-white" aria-label="menu" aria-expanded="false"
        data-target="the-navbar-menu"
        onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="the-navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        [[block page_menu_items]]
        <!-- individual pages can add menu items here -->[[end]]
      </div>
      <!-- user options -->
      <div class="navbar-end">
        <a href="/183-project/profile">
          <img class="mt-2 mb-1" id="pfp" width="50"
            style="height:50px; overflow: hidden; object-fit: cover; border-radius: 50%;" src="">
        </a>
        <div class="navbar-item">
          <div class="buttons align">
            [[if globals().get('user'):]]
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-primary user-color">
                [[=globals().get('user').get('email')]]
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="[[=URL('auth/logout')]]">Logout</a>
                <a class="navbar-item" href="[[=URL('profile')]]">Profile</a>
                <a class="navbar-item" href="[[=URL('auth/change_password')]]">Change Password</a></li>
              </div>
            </div>
            [[else:]]
            <a class="button is-link" href="[[=URL('auth/register')]]">Sign Up</a>
            <a class="button is-success" href="[[=URL('auth/login')]]">Log In</a>
            [[pass]]
          </div>
        </div>
      </div>
    </div>
  </nav>

  [[include]]
</body>

<script src="js/sugar.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/utils.js"></script>
<script>
  let pfp = document.getElementById("pfp");
  let user_email = "[[=globals().get('user').get('email')]]"
  pfp.src = localStorage.getItem(user_email) !== null ? localStorage.getItem(user_email) : "../static/assets/no-img.jpg"
</script>
[[block page_scripts]]
<!-- individual pages can add scripts here -->[[end]]

</html>