[[extend 'layout.html']]

<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="[[=URL('static')]]/" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="scss/location.css?id=1234" />
    <!-- I added the ?id=1234 because the .css file was being cached-->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />
    <title>Suppress19</title>
    [[block page_head]]
    <!--  -->
    [[end]]
  </head>

  <body>
    <!-- This section contains the whole location page excluding the layout.html -->
    <section class="section no-margin" id="vue-target" v-cloak>
      <!-- This section contains the all the location information such as location name, website, etc -->
      <div
        class="
          full-width-container
          box
          is-flex is-justify-content-space-between is-flex-wrap-wrap
        "
      >
        <!-- This section contains the information on the left side of this container -->
        <div class="flex-left white-text">
          <div class="location-name is-size-1">Costco</div>
          <div class="location-name is-size-2">
            220 Sylvania Ave, Santa Cruz, CA 95060
          </div>
          <div class="location-name is-size-6">Open 7:00am - 9:00am</div>

          <!-- Do a loop here to see the number of stars the location is given -->
          <div class="ratings is-flex is-align-items-center">
          [[for i in range(rating_num): ]]
            <i
              class="
                box
                fa fa-star
                is-size-4
                has-background-info-dark
                mt-3
                mr-4
              "
            ></i>
            [[pass]]
            <i class="is-size-2 has-text-weight-bold">14 Reviews</i>
          </div>


            <div>
              <button
                class="button mr-4 has-text-white has-background-info-dark"
              >
                Check eligibility
              </button>
              <button class="button has-text-white has-background-info-dark">
                Write a Review
              </button>
            </div>
          </div>

          <!-- This section contains the information on the right side of this container -->
          <div
            class="
              is-flex is-flex-direction-column is-justify-content-flex-start
              mr-6
              mt-6
              white-text
            "
          >
            <div class="location-info is-size-4">
              Website: https://costo.com
            </div>
            <div class="location-info is-size-4">Phone: 831-123-4567</div>
            <div class="location-info is-size-4">Vaccine in stock: Yes</div>
          </div>
        </div>

        <div class="sr-item section is-size-3 mb-3 title">Ratings (14)</div>

        <!-- This sections contains the ratings of the location -->
        <div
          class="
            ratings-section
            container
            is-flex is-justify-content-space-between is-flex-wrap-wrap
          "
        >
          <div class="store-rating is-flex is-flex-direction-column">
            <div class="sr-item is-size-3 has-text-weight-bold">
              Average Store Rating
            </div>
            <div class="sr-item is-size-3 has-text-weight-bold mb-3">4.7</div>
            <div class="sr-item is-size-6">Waiting Time: 10 minutes</div>
            <div class="sr-item is-size-6">Customer Service: Good</div>
            <div class="sr-item is-size-6">
              Vaccine Types: Phizer, J&J, Moderna
            </div>
          </div>

          <!-- Pro Card Section-->
          <div class="pros box is-size-1 has-background-info-dark">
            <div class="pro-title">Pros</div>

            <!-- Loop through the best ratings -->
            <div
              class="best-rating is-flex is-size-5 is-align-items-center mb-6"
            >
              <div class="icon-text">
                <span
                  class="
                    icon
                    has-text-info has-background-info-dark has-text-white
                    mr-6
                  "
                >
                  55
                </span>
              </div>
              <div class="rating-info ml-6 has-text-white">Waiting Time</div>
            </div>
            <div
              class="best-rating is-flex is-size-5 is-align-items-center mb-6"
            >
              <div class="icon-text">
                <span
                  class="
                    icon
                    has-text-info has-background-info-dark has-text-white
                    mr-6
                  "
                >
                  55
                </span>
              </div>
              <div class="rating-info ml-6 has-text-white">Variety</div>
            </div>
            <div
              class="best-rating is-flex is-size-5 is-align-items-center mb-6"
            >
              <div class="icon-text">
                <span
                  class="
                    icon
                    has-text-info has-background-info-dark has-text-white
                    mr-6
                  "
                >
                  55
                </span>
              </div>
              <div class="rating-info ml-6 has-text-white">Easy To Find</div>
            </div>
            <!-- Loop through the best ratings -->
          </div>

          <!-- Con card Section-->
          <div class="cons box is-size-1 has-background-info-dark">
            <div class="con-title">Cons</div>

            <!-- Loop through the best ratings -->
            <div
              class="best-rating is-flex is-size-5 is-align-items-center mb-6"
            >
              <div class="icon-text">
                <span
                  class="
                    icon
                    has-text-info has-background-info-dark has-text-white
                    mr-6
                  "
                >
                  55
                </span>
              </div>
              <div class="rating-info ml-6 has-text-white">Waiting Time</div>
            </div>
            <div
              class="best-rating is-flex is-size-5 is-align-items-center mb-6"
            >
              <div class="icon-text">
                <span
                  class="
                    icon
                    has-text-info has-background-info-dark has-text-white
                    mr-6
                  "
                >
                  55
                </span>
              </div>
              <div class="rating-info ml-6 has-text-white">Variety</div>
            </div>
            <div
              class="best-rating is-flex is-size-5 is-align-items-center mb-6"
            >
              <div class="icon-text">
                <span
                  class="
                    icon
                    has-text-info has-background-info-dark has-text-white
                    mr-6
                  "
                >
                  55
                </span>
              </div>
              <div class="rating-info ml-6 has-text-white">Easy To Find</div>
            </div>
            <!-- Loop through the best ratings -->
          </div>
          <!-- Loop through the worst ratings -->
        </div>

        <!-- Reviews Section -->
        <section class="section reviews-title title">Reviews (14)</section>
        <section class="reviews-container">
          <!-- Display a list of posts that a user has made -->
        </section>
        <div class="test">
          [[for i in rating_cards1:]]
          <div class="hi">[[=i]]</div>
          [[pass]]
        </div>
        <!-- <div class="hi">{{r}}</div> -->
        <!-- <div class="hey">{{rating_cards_better}}</div> -->
      </div>
    </section>
    <!-- [[include]] -->
  </body>

  <script src="js/sugar.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/utils.js"></script>

  <script>
    let rating_cards = "[[=rating_cards1]]";
    console.log(rating_cards);
    console.log(typeof rating_cards);
  </script>
  <script src="js/location.js"></script>

  <!-- individual pages can add scripts here -->
</html>
