[[extend 'layout.html']]

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="scss/location.css" />
  <!-- I added the ?id=1234 because the .css file was being cached-->
  <!-- <link rel="stylesheet" href="scss/location.css?id=13" /> -->
</head>

<body>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>

  <section class="section no-margin" id="vue-target" v-cloak>
    <!-- This section contains the all the location information such as location name, website, etc -->
    <div 
          class="
          full-width-container
          box
        " :style="{'background-image': 'url(' + image + ')'}">
      <!-- This section contains the information on the left side of this container -->
      <div class="flex-left white-text">
        <nav class="level mb-0">
          <div class="level-left">
            <div class="level-item">
              <div class="location-name is-size-1" id="pharmacy">{{location_name.substring(0, location_name.lastIndexOf(" "))}}</div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item" :style="{'flex-direction': 'column'}">
                  <div class="location-info is-size-3" id="phone">Phone: {{location_phone}}</div>
                  <div class="location-info is-size-3 has-text-weight-bold" id="stock"
                  :class="{'has-text-primary': location_stock, 'has-text-danger': !location_stock}">Vaccine
                  in stock:
                  {{location_stock ? "Yes" : "No"}}</div>
            </div>
          </div>
        </nav>
        <nav class="level">
          <div class="level-left has-text-left">
            <div class="level-item">
              <div class="location-name is-size-2">{{location_address.split("#")[0].trim()}}</div>
            </div>
          </div>
        </nav>

        <div class="ratings is-flex is-align-items-center">
          <!-- Loop to check average rating for the location-->
          <!-- <i class="
                box
                fa fa-star
                is-size-2
                has-background-info-dark
                has-text-warning
                mt-3
                mr-4
              " v-for="n in parseInt(Math.floor(review_avg_num))" :key="n" id="stars"></i> -->
        </div>

        <div>
          <button class="button mr-4 has-text-white has-background-info-dark" id="check" @click="vaccine_site()">
            Check eligibility
          </button>

          <!-- Button doesn't work. Used to write a review -->
          <button class="button has-text-white has-background-info-dark" id="write">
            Write a Review
          </button>
        </div>
      </div>
    </div>

    <!-- reviews section -->
    <div class="section">
      <div class="title is-3">Reviews</div>

      <div class="form">
        <!-- review title -->
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Title" v-model="add_review_title"></input>
          </div>
        </div>
        <!-- review message -->
        <div class="field">
          <label class="label">Review</label>
          <textarea class="textarea" placeholder="Enter Review" v-model="add_review_text"></textarea>
        </div>
        <!-- wait time -->
        <div class="field">
          <label class="label">Wait Time</label>
          <div class="control">
            <input class="input" type="text" placeholder="Wait Time" v-model="add_review_wait"></input>
          </div>
        </div>
        <!-- customer service -->
        <div class="field">
          <label class="label">Customer Service</label>
          <div class="control">
            <div class="select">
              <select v-model="add_review_service">
                <option>Good</option>
                <option>Average</option>
                <option>Mediocre</option>
                <option>Bad</option>
              </select>
            </div>
          </div>
        </div>
        <!-- vaccine type -->
        <div class="field">
          <label class="label">Vaccine Type</label>
          <div class="control">
            <div class="select">
              <select v-model="add_review_vaccine">
                <option>Pfizer</option>
                <option>Moderna</option>
                <option>J&J</option>
              </select>
            </div>
          </div>
        </div>
        <p class="has-text-danger" v-if="bad_input">All fields must be filled out before submitting</p>
        <!-- submit button -->
        <div class="field is-grouped">
          <div class="control">
            <a class="button is-success block mt-3" @click="add_review">
              <span class="icon"><i class="fa fa-plus"></i></span>
              <span>Submit</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- display reviews -->
    <section class="reviews-container"></section>
    <div class="review-box">
      <hr class="line" v-if="review_list.length > 0" />

      <!-- vue loop going through reviews -->
      <div class="
            review-content
            is-flex is-justify-content-space-between is-flex-wrap-wrap
          " v-for="review in review_list.slice().reverse()">

        <!-- contains review information -->
        <div class="left ml-6">
          <!-- info -->
          <div class="review-item title main-color">{{review.name}}</div>
          <div class="review-item">Waiting Time: {{review.wait_time}}</div>
          <div class="review-item">Customer Service: {{review.service}}</div>
          <div class="review-item mb-1">Vaccine: {{review.vaccine}}</div>
          <!-- thumbs up and down rating -->
          <div>
            <span @mouseout="review_ratings_out(review._idx)">
              <span @mouseover="review_ratings_over(review._idx, thumb_idx)"
                @click="set_review_rating(review._idx, thumb_idx)" v-for="thumb_idx in [1, 2]">
                <span v-if="thumb_idx == 1" class="mr-2">
                  <i v-if="thumb_idx == review.num_thumbs_display" class="fa fa-thumbs-up fa-lg has-text-info"></i>
                  <i v-if="thumb_idx !== review.num_thumbs_display" class="fa fa-thumbs-o-up fa-lg has-text-info"></i>
                </span>
                <span v-if="thumb_idx == 2">
                  <i v-if="thumb_idx == review.num_thumbs_display" class="fa fa-thumbs-down fa-lg has-text-danger"></i>
                  <i v-if="thumb_idx !== review.num_thumbs_display"
                    class="fa fa-thumbs-o-down fa-lg has-text-danger"></i>
                </span>
              </span>
            </span>
          </div>
          <!-- displays current likers and dislikers of review -->
          <p v-if="review.show_review_likers">
            Likes: {{review.likers}} Dislikes: {{review.dislikers}}
          </p>
        </div>

        <!-- contains review itself -->
        <div class="right mr-6">
          <!-- review title -->
          <div class="container title review-title has-text-white">
            {{review.title}}
          </div>
          <!-- review message -->
          <div class="review-message subtitle">
            {{ review.review_message }}
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
</body>

<script src="js/sugar.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/utils.js"></script>

<script>
  let load_location_info_url = "[[=XML(load_location_info_url) ]]";
  let location_info = "[[=XML(location_info)]]";
  let add_review_url = "[[=XML(add_review_url) ]]";
  let load_review_url = "[[=XML(load_review_url) ]]";
  let get_name_url = "[[=XML(get_name_url) ]]";
  let get_review_rating_url = "[[=XML(get_review_rating_url)]]";
  let set_review_rating_url = "[[=XML(set_review_rating_url)]]";
  let get_review_raters_url = "[[=XML(get_review_raters_url)]]";
  let set_review_raters_url = "[[=XML(set_review_raters_url)]]";
</script>

<script src="js/location.js"></script>

</html>