<!DOCTYPE html>
<html lang="en">

<head>
  <base href="[[=URL('static')]]/">
  <meta charset="UTF-8" />
  <meta http-equiv="Content Type" content="text/html" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="scss/user.css" />
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />
  <title>Login</title>
</head>

<body>
  <section class="section">
    <div class="form-container">
      <article class="media">
        <div class="media-content">
          <!-- title -->
          <h3 class="title is-3 has-text-centered has-text-info">
            Sign In To Your Account
          </h3>
          <!-- email address -->
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="Email address">
            </div>
          </div>
          <!-- password input -->
          <div class="field">
            <div class="control">
              <input class="input" type="password" placeholder="Password">
            </div>
          </div>
          <nav class="level is-mobile">
            <!-- forgot password -->
            <div class="level-left level-item">
              <div class="field">
                <div class="control">
                  <a href="[[=URL('forgot_password')]]">Forgot your password?</a>
                </div>
              </div>
            </div>
            <!-- log in button -->
            <div class="level-right level-item">
              <div class="field">
                <div class="control">
                  <a class="button is-rounded is-info" href="[[=URL('main')]]">Log In</a>
                </div>
              </div>
            </div>
          </nav>
          <hr>
          <!-- sign up if no account -->
          <h5 class="title is-5 has-text-centered">Don't have an account?</h5>
          <a class="button is-fullwidth is-rounded is-info is-outlined is-medium" href="[[=URL('sign_up')]]">Sign Up</a>
        </div>
      </article>
    </div>
  </section>
</body>

</html>