<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content Type" content="text/html" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/scss/user.css" />
  <link rel="shortcut icon" type="image/png" href="static/assets/favicon.png" />
  <title>Password Reset</title>
</head>

<body>
  <section class="section" id="reset">
    <div class="form-container">
      <article class="media">
        <div class="media-content">
          <h2 class="title is-3 has-text-centered has-text-info" id="pass-reset">
            <strong>Password Reset</strong>
          </h2>
          <p class="forgot-text">
            Please enter either your <strong>username</strong> or
            <strong>email address.</strong> We'll send you an email providing
            a link to help you reset your password.
          </p>
          <div class="control">
            <input class="input is-medium" type="text" placeholder="Email address or username"
              style="margin-top: 2rem" />
          </div>
          <input class="button is-medium" id="send-button" type="submit" value="Send" style="margin-top: 2em" />
        </div>
      </article>
    </div>
  </section>
</body>

</html>