<!DOCTYPE html>
<html lang="en">

<head>
  <base href="[[=URL('static')]]/">
  <meta charset="UTF-8" />
  <meta http-equiv="Content Type" content="text/html" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="scss/user.css" />
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />
  <title>Password Reset</title>
</head>

<body>
  <section class="section">
    <div class="form-container">
      <article class="media">
        <div class="media-content">
          <!-- home reroute -->
          <a href="[[=URL('index')]]">
            <h1 class="title is-1 has-text-centered">Suppress19</h1>
          </a>
          <hr>
          <!-- title -->
          <h2 class="title is-2 has-text-centered has-text-info">
            Password Reset
          </h2>
          <!-- reset instructions -->
          <div class="block">
            <h6 class="subtitle is-6">
              Please enter the email address you signed up with and we'll send you an email providing
              a link to help reset your password.
            </h6>
          </div>
          <hr>
          <!-- email address -->
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="Email address">
            </div>
          </div>
          <!-- reset button -->
          <a class="button is-fullwidth is-rounded is-info is-outlined is-medium">Send Link</a>
        </div>
      </article>
    </div>
  </section>
</body>

</html>