[[extend './layout.html']]

<!-- looking at layout.html this page is connected to content.css
when it should be connected to profile.css
still trying to figure out how to add custom header here for its style sheet -->

<style>
  [v-cloak] {
    display: none;
  }
</style>

<section class="section" id="vue-target" v-cloak>
  <div class="container">
    <h1 class="title is-1">[[=user_info[0] ]] [[=user_info[1] ]]'s Profile</h1>
    <div class="columns">
      <div class="column is-two-fifths">
        <h4 class="subtitle is-4">Email: [[=user_info[2] ]]</h4>
        <h4 class="subtitle is-4">Vaccinated: Yes</h4>
        <!-- CHANGE TO VUE LATER -->
        <h4 class="subtitle is-4">Saved Locations:</h4>
        [[if len(user_info[3]) == 0:]]
        <h4 class="subtitle is-5 has-text-danger">
          You do not have any saved locations.
        </h4>
        [[pass ]] [[for location in user_info[3]: ]]
        <h4 class="subtitle is-5 has-text-success">
          [[=location[0] ]] [[=location[1] ]]
        </h4>
        [[pass]]
      </div>
      <div class="column">
        <figure class="image">
          <img src="../static/assets/placeholder-map.png" />
        </figure>
      </div>
    </div>
  </div>
</section>

[[block page_scripts]]
<script>
  // load url's here
  let load_user_info_url = "[[=XML(load_user_info_url)]]";
</script>
<script src="js/profile.js"></script>
[[end]]