[[extend './layout.html']]

<body>
  
  <section class="section">
    <div class="container">
      <h1 class="title is-1">John Doe's Profile</h1>
      <div class="columns">
        <div class="column is-two-fifths">
          <h4 class="subtitle is-4">Username: johndoe</h4>
          <h4 class="subtitle is-4">Email: johndoe@ucsc.edu</h4>
          <h4 class="subtitle is-4">Vaccinated: Yes</h4>
          <h4 class="subtitle is-4">Saved Locations:</h4>
        </div>
        <div class="column">
          <figure class="image">
            <img src="../static/assets/placeholder-map.png" />
          </figure>
        </div>
      </div>
    </div>
  </section>
</body>

</html>