// run command below in root py4web directory
// sass --no-source-map apps/183-project/scss/home.scss apps/183-project/scss/home.css

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$family-primary: 'Roboto', sans-serif;

@import "../static/bulma.sass";

.center {
  display: flex;
  justify-content: center;
}