// run command below in root py4web directory
// sass --no-source-map apps/183-project/static/scss/location.scss apps/183-project/static/scss/location.css

@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// @import "../bulma.sass";

$main_display_color: hsl(204, 71%, 39%);

// @import "../bulma.sass";

.full-width-container {
  // width: 100% !important;
  // box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
  // border-radius: 12px;
  object-fit: contain;
  background-image: 
      /* top, transparent red */ linear-gradient(
      rgba(33, 61, 153, 0.5),
      rgba(33, 61, 153, 0.5)
    ),
    /* your image */
      url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/costco-wholesale-store-in-north-brunswick-township-new-news-photo-1580939030.jpg");
}

.test-color {
  background-color: $main_display_color;
}

.white-text {
  color: rgba(255, 255, 255, 0.891);
}

.no-margin {
  margin: 0;
  padding: 0;
}

hr {
  // height: 1px !important;
  border: 2px solid gray !important;
}

.review-title {
  background-color: $main_display_color !important;
  padding: 12px;
}

.right {
  // background-color: black;
  width: 50%; //Maybe remove if it messes up mobile
  height: 300px;
}

.circle {
  border-radius: 50px;
  padding: 10px;
}

.main-color {
  color: $main_display_color;
}
