// run command below in root py4web directory
// sass --no-source-map apps/183-project/static/scss/user.scss apps/183-project/static/scss/user.css

@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$body-background-color: whitesmoke;
$family-primary: "Roboto", sans-serif;

.form-container {
  @extend .container;
  max-width: 400px !important;
}

@import "../bulma.sass";

.line-break {
  background-color: rgb(82, 82, 82);
}
